body {
	margin: 0;
}

.header {
	height: 100px;
	width: 100%;
	background: gray;
	padding: 20px;
}

.bluebox {
	height: 80px;
	width: 80px;
	background-color: blue;
}

.textBody {
	height: 200px;
	width: 100%;
	background: white;
}

/*.blue {
	height: 100px;
	width: 100%;
	background: blue;
}

.green {
	height: 100px;
	width: 100%;
	background: gray;
}

.pea {
	height: 100px;
	width: 100%;
	background: orange;
}

.yellow {
	height: 100px;
	width: 100%;
	background: yellow;
}
*/

.box {
	height: 100px;
	width: 100%;
}

.blue {
	background: blue;
}

.green {
	background: green;
}

.pea {
	background: orange;
}

.yellow {
	background: yellow;
}

